# Others
/example.lua

# Project place file
/SWTOROBLOX.rbxlx
/SWTOROBLOX.rbxl

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Secret Keys
/src/server/ProgressionSystem_Dependencies/dskey.lua